/* DashboardPage.css */


.navbar {
    background-color: #f8f9fa; 
    padding: 0.5rem 1rem;
}

.nav-link:hover {
    color: #03B7AE;
}

/* Search Box Styles */
.form-control {
    max-width: 300px;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #03B7AE;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(3, 183, 174, 0.25);
}


.table {
    margin-top: 1rem;
}

/* Style for the header of the first column */
.table thead th:first-child {
    border-right: 2px solid #edeeee;
}

/* Style for the cells of the first column */
.table tbody td:first-child {
    border-right: 2px solid #edeeee; 
}


.table th,
.table td {
    width: 80px; 
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.table td:nth-child(3), 
.table td:nth-child(4) {
    min-width: 200px; 
    width: 200px; 
}

.table td:nth-child(9), 
.table td:nth-child(10) {
    max-width: 20px; 
    width: 20px; 
}


.table input[type="text"] {
    width: 100%;
    box-sizing: border-box; 
}


.editable-cell-input {
    width: 100%;
    border: none;
    box-sizing: border-box;
    background-color: transparent; 
    outline: none; 
    background-color: #edeeee;
    padding-bottom: 16px;
}


.react-datepicker__input-container input {
    width: 100%;
    border: none;
    box-sizing: border-box;
    background-color: transparent; 
    outline: none; 
    background-color: #edeeee;
    padding-bottom: 10px;
}


.table thead th {
    vertical-align: bottom;
    border-top: 1px solid #03B7AE;
    border-bottom: 1px solid #03B7AE;
    color: #03B7AE;
}

.table-responsive {
    overflow-x: auto;
}

/* Button Styles */
.btn-outline-success {
    color: #03B7AE;
    border-color: #03B7AE;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #03B7AE;
    border-color: #03B7AE;
}

.btn {
    margin: 0.25rem;
}

.modify-button {
    background-color: #76a3a0;
    color: white; 
    border: none;
}

.modify-button:hover {
    background-color: #03B7AE;
    color: #fff; 
}

.delete-button-light {
    background-color: #fca5a5; 
    border-color: #ffcccc; 
    border: none;

}

.delete-button-light:hover {
    background-color: #fc7575; 
    border-color: #ffb3b3;
}


