/* Navbar.css */

 .navbar-custom {
    background-color: rgb(239, 239, 239);
    border-bottom: 2px solid #fff;
}


.nav-link-custom {
    color: black;
    margin-right: 22px; 
}

.nav-link-custom:hover {
    color: #03B7AE;
}

.navbar-brand-custom {
    color: black; 
    font-weight: bold; 
}

.navbar-brand-custom:hover {
    color: white; 
}
