/* LoginPage.css */

.login-card-container {
    width: 420px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.login-card {
    padding-top: 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background: white;
}

.login-card-body {
    height: auto;
}

.form-label {
    font-size: 20px;
}

.form-outline {
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 30px;
    width: 400px;
}


.form-control-sm {
    display: block;
    width: 100%;
    height: 50px;
    padding: 10px;
    font-size: 16px;
    line-height: 1.6;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.form-control-sm:focus {
    border-color: #03B7AE;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(102, 175, 233, 0.5); 
}


.fw-normal {
    letter-spacing: 1px;
    font-size: 25px;
    margin-top: 10px;
}

.btn-dark {
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-check {
    margin-bottom: 3px;
}

.form-check-input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  
  .form-check-label {
    position: relative;
    padding-left: 34px; 
    cursor: pointer;
  }
  
  .form-check-label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-color: #f8f9fa;
    border: 2px solid #03B7AE;
    border-radius: 3px; /* You can adjust for a rounded checkbox */
  }

  
  .form-check-input:checked + .form-check-label:before {
    background-color: #03B7AE; /* Color when checked */
  }
  
  .form-check-input:checked + .form-check-label:after {
    content: '';
    position: absolute;
    left: 8px;
    top: 10px;
    transform: translateY(-50%) rotate(45deg);
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
  }
  


.form-check-label {
    margin-right: 50px;
}

.login-mb-5 {
    margin-top: 60px;
}

.link {
    color: #03B7AE;
    margin-left: 20px;
} 


